h1{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
body {
    background: linear-gradient(to bottom, #0036fb, #0036fb, #0036fb, #0036fb);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #FFFFFF; 
  }
  button {
    margin-top: 20px; 
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333; 
    color: #FFF; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .peblou{
    position: fixed;
  }